<a href="https://colab.research.google.com/github/kingketan9/DeepLearningLabs/blob/main/LabEval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Submitted by -
# Ketan Goyal
# 102015104
# 3NC5

In [2]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [5]:
df = pd.read_csv('DL.csv')

In [6]:
df

    Unnamed: 0      A       B       C      D      E      F    G
0            0  184.4  442.56  221.28  73.76  46.10  36.88  922
1            1   76.0  182.40   91.20  30.40  19.00  15.20  380
2            2  131.4  315.36  157.68  52.56  32.85  26.28  657
3            3   66.2  158.88   79.44  26.48  16.55  13.24  331
4            4   73.2  175.68   87.84  29.28  18.30  14.64  366
5            5   95.0  228.00  114.00  38.00  23.75  19.00  475
6            6  179.0  429.60  214.80  71.60  44.75  35.80  895
7            7  152.6  366.24  183.12  61.04  38.15  30.52  763
8            8  199.4  478.56  239.28  79.76  49.85  39.88  997
9            9  160.2  384.48  192.24  64.08  40.05  32.04  801
10          10  164.8  395.52  197.76  65.92  41.20  32.96  824
11          11  170.4  408.96  204.48  68.16  42.60  34.08  852
12          12   21.6   51.84   25.92   8.64   5.40   4.32  108
13          13   79.0  189.60   94.80  31.60  19.75  15.80  395
14          14   24.0   57.60   28.80   9.60   6.00   4.80  120
15          15  153.0  367.20  183.60  61.20  38.25  30.60  765
16          16  199.4  478.56  239.28  79.76  49.85  39.88  997
17          17  177.8  426.72  213.36  71.12  44.45  35.56  889
18          18  152.2  365.28  182.64  60.88  38.05  30.44  761
19          19  179.0  429.60  214.80  71.60  44.75  35.80  895
20          20  165.0  396.00  198.00  66.00  41.25  33.00  825
21          21  138.4  332.16  166.08  55.36  34.60  27.68  692
22          22   36.4   87.36   43.68  14.56   9.10   7.28  182
23          23   23.0   55.20   27.60   9.20   5.75   4.60  115
24          24  144.6  347.04  173.52  57.84  36.15  28.92  723
25          25   85.8  205.92  102.96  34.32  21.45  17.16  429
26          26   59.4  142.56   71.28  23.76  14.85  11.88  297
27          27  107.0  256.80  128.40  42.80  26.75  21.40  535
28          28  176.2  422.88  211.44  70.48  44.05  35.24  881
29          29   83.0  199.20   99.60  33.20  20.75  16.60  415
30          30  129.8  311.52  155.76  51.92  32.45  25.96  649
31          31   24.8   59.52   29.76   9.92   6.20   4.96  124
32          32  140.6  337.44  168.72  56.24  35.15  28.12  703
33          33   41.0   98.40   49.20  16.40  10.25   8.20  205
34          34   47.0  112.80   56.40  18.80  11.75   9.40  235
35          35  102.2  245.28  122.64  40.88  25.55  20.44  511
36          36   62.2  149.28   74.64  24.88  15.55  12.44  311
37          37  100.6  241.44  120.72  40.24  25.15  20.12  503
38          38  198.0  475.20  237.60  79.20  49.50  39.60  990
39          39  108.6  260.64  130.32  43.44  27.15  21.72  543
40          40   49.0  117.60   58.80  19.60  12.25   9.80  245
41          41  172.8  414.72  207.36  69.12  43.20  34.56  864
42          42  188.6  452.64  226.32  75.44  47.15  37.72  943
43          43  139.8  335.52  167.76  55.92  34.95  27.96  699
44          44   92.8  222.72  111.36  37.12  23.20  18.56  464
45          45   94.4  226.56  113.28  37.76  23.60  18.88  472
46          46   93.2  223.68  111.84  37.28  23.30  18.64  466
47          47  104.4  250.56  125.28  41.76  26.10  20.88  522
48          48  184.6  443.04  221.52  73.84  46.15  36.92  923
49          49  157.8  378.72  189.36  63.12  39.45  31.56  789

In [7]:
max = []
min = []

In [8]:
min_val = df['A'].min()
max_val = df['A'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 21.6
Maximum value: 199.4

In [9]:
min_val = df['B'].min()
max_val = df['B'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 51.84
Maximum value: 478.56

In [10]:
min_val = df['C'].min()
max_val = df['C'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 25.92
Maximum value: 239.28

In [11]:
min_val = df['D'].min()
max_val = df['D'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 8.64
Maximum value: 79.76

In [12]:
min_val = df['E'].min()
max_val = df['E'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 5.4
Maximum value: 49.85

In [13]:
min_val = df['F'].min()
max_val = df['F'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 4.32
Maximum value: 39.88

In [14]:
max

[199.4, 478.56, 239.28, 79.76, 49.85, 39.88]

In [15]:
min

[21.6, 51.84, 25.92, 8.64, 5.4, 4.32]

In [16]:
def check(upperb, lowerb, ip):
  lower_bound = lowerb
  upper_bound = upperb

  def label_number(number):
    if number >= lower_bound and number <= upper_bound:
        return 1
    else:
        return 0

  input_numbers = np.random.randint(0, 300, 1000)
  labels = [label_number(number) for number in input_numbers]

  split_ratio = 0.8
  split_index = int(split_ratio * len(input_numbers))
  train_X, train_y = input_numbers[:split_index], labels[:split_index]
  test_X, test_y = input_numbers[split_index:], labels[split_index:]

  classifier = DecisionTreeClassifier()
  classifier.fit(train_X.reshape(-1, 1), train_y)

  accuracy = classifier.score(test_X.reshape(-1, 1), test_y)
  print("Accuracy:", accuracy)

  new_number = ip
  prediction = classifier.predict([[new_number]])
  prediction = int(prediction)
  return prediction

In [17]:
input = [34, 60, 80, 90, 100, 120]

In [18]:
predict = list(map(lambda x,y,z: check(x,y,z), max, min, input))

Accuracy: 1.0
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 1.0

In [19]:
predict

[1, 1, 1, 0, 0, 0]

In [20]:
def output(p):
  col_name = ['A','B','C','D','E','F']
  for i in range(len(p)):
    if p[i] == 1:
      print(col_name[i],"column is valid")
    else:
      print(col_name[i],"column is invalid")

In [21]:
output(predict)

A column is valid
B column is valid
C column is valid
D column is invalid
E column is invalid
F column is invalid